################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GitTest/bin/Debug/netcoreapp2.2
/GitTest/obj
